{

    "llm_config": {
        "class": "openai",
        "model_name": "gpt-5.2",
    }

    "metadata": {
        "description": "Simple agent that demonstrates tool use with a custom tool that calculates BMI.",
        "tags": ["mcp"],
        "sample_queries": [
            "90kg and 1.6m. calculate BMI",
        ]
    },

    "tools": [
        {
            "name": "HelloWorldAgent",
            "function": {
                # The description acts as an initial prompt.
                "description": """I am an agent that uses MCP tools to perform tasks such as calculating BMI."""
            },
            "instructions": """You are an agent that uses MCP tools to perform tasks requested by the user.
            When you receive a request, use your available tools to fulfil it.
            For example, you can calculate a user's BMI given their weight and height.""",
            "tools": ["http://127.0.0.1:8000/mcp"]
        },
    ]
}
